.mother {
  display: grid;
  grid-template-columns: 100px 100px 150px;
  grid-template-rows: 50px 100px;
  gap: 10px;
}
.child {
  background: peru;
  color: #fff;
}

.grid {
  display: grid;
  width: 100%;
  height: 50vh;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows:  repeat(4, 1fr); */
  grid-template:
  "header header header header" 1fr /* area 뒤에오는 fr은 height(row, how tall)를 의미한다. */
  "content content content nav" 2fr
  "footer footer footer footer" 1fr
}
.header {
  grid-area: header;
  /* grid-column: span 4; */
  background-color: #2ecc71;
}
.content {
  grid-area: content;
  /* grid-column: 1 / -2; */
  /* grid-row: span 2; */
  background-color: #3498db;
}
.nav {
  grid-area: nav;
  /* grid-row: span 2; */
  background-color: #8244ad;
}
.footer {
  grid-area: footer;
  /* grid-column: span 4; */
  background-color: #423451;
}
/*

(Point)
✨ grid-template-columns: width 
✨ grid-template-rows: height
✨ gap(column-gap, row-gap): 요소간의 gap (여백)을 지정한다.]
✨ grid-template-areas: 지정한 'grid-area' 를 정해진 형식으로 채울 수 있다.
✨ grid-column-start / end: column 의 line 기준으로 확장할 범위를 지정한다.
✨ grid-row-start / end: row 의 확장 범위를 지정한다.
✨ (shortcut) grid-column / grid-row: start/end 를 별도록 적는것을 줄여서 적을 수 있는 속성이다.
✨ fr (fraction) : 화면에서 요소의 넓이를 비율로 지정할때 사용

*/